# Ignore large data folders
ev/
evals/
evals_par/
plots/
SFF/
sff_open/
temp/
evals_par_Lop/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE or editor settings
.vscode/
.idea/

# Ignore logs and databases
*.log
*.sqlite3

# Ignore compiled code
*.o
*.out

# Ignore specific sensitive files
config.yaml
.env

# Supercomputer 
.err_node_48
.out_node_48

# Images
# .png
.jpg
.jpeg